// @import '_reset';

@import '../../node_modules/slick-carousel/slick/slick.css';

// @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');


body{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
    // font-family: 'Source Sans Pro', sans-serif;
    // background-color: red;
    // margin-top: 75px;
    background-image: url('../assets/bg.jpg');
    background-repeat: no-repeat;
    // background-size: cover;
}

[class*=uk-width]{
    // border: 1px solid rgba(255, 0, 0, .5);
    // box-sizing: border-box;
}