nav{
    width: 100%;
    min-height: 10px;
    background: #fff;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;

    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        padding: 10px 0;
    }
    li{
        margin: 0;
        padding: 0;
        display: inline-block;
        padding: 8px 15px;
        background: $color-disabled;
        border-radius: 3px;

        &.active{
            background: $color-primary;
        }
    }
}